body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 30px;
}

header {
    background-color: #3f75b6d9;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

h1,
h2 {
    font-family: 'Lobster', cursive;
}

header h1 {
    color: white;
    font-size: 50px;
}

header img {
    border-radius: 50%;
    width: 300px;
    border: 20px solid rgba(103, 141, 237, 0.817);
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

main img {
    max-width: 100%;
}

h2 {
    font-size: 35px;
    color: #41414b;
    margin: 40px 0 10px;
}

a {
    color: #e70c19;
}

a:hover {
    color: #483a94;
}

footer {
    background-color: #3f75b6d9;
    text-align: center;
    color: white;
    padding: 50px;
}

p {
    margin: 0;
}